# Media Bot Environment Variables

# Tautulli
TAUTULLI_URL=http://YOUR_SERVER_IP:PORT
TAUTULLI_API_KEY=your_api_key

# Radarr
RADARR_URL=http://YOUR_SERVER_IP:PORT
RADARR_API_KEY=your_api_key

# Sonarr
SONARR_URL=http://YOUR_SERVER_IP:PORT
SONARR_API_KEY=your_api_key

# Lidarr
LIDARR_URL=http://YOUR_SERVER_IP:PORT
LIDARR_API_KEY=your_api_key

# NZBGet
NZBGET_URL=http://YOUR_SERVER_IP:6789
NZBGET_USER=
NZBGET_PASS=

# NZBHydra2
NZBHYDRA_URL=http://YOUR_SERVER_IP:5076
NZBHYDRA_API_KEY=your_api_key
